<h1>Carrucel#fotos</h1>
<p>Find me in app/views/carrucel/fotos.html.erb</p>








 <div class="carousel-item">
                <img src="assets/img/iguana13.jpeg"  alt="..." width="500" height="450">
            </div>


<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner bg-dark" >
        <div class="container text-center"> <!--div agregado para centrar-->

            <div class="carousel-item active">           
                
                <%= image_tag 'foto1.jpg', class: 'd-block w-100'  %>
            </div>
            <div class="carousel-item">
                
                <%= image_tag 'foto2.jpg', class: 'd-block w-100'  %>
            </div>
            <div class="carousel-item">
                
                <%= image_tag 'foto3.jpg', class: 'd-block w-100'  %>

            </div>
            <div class="carousel-item">
               
               <%= image_tag 'foto4.jpg', class: 'd-block w-100'  %>

            </div>
            

           <div class="carousel-item">
               
               <%= image_tag 'foto5.jpg', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto6.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto7.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto8.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto9.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto10.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto11.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto12.png', class: 'd-block w-100'  %>

            </div>

            <div class="carousel-item">
               
               <%= image_tag 'foto13.png', class: 'd-block w-100'  %>

            </div>
        </div> <!--fin div container-->
        
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>